BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "ECP5EVN_CLK" SITE "A10" ;
LOCATE COMP "ECP5EVN_RST_N" SITE "P4" ;
IOBUF PORT "ECP5EVN_CLK" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ECP5EVN_RST_N" IO_TYPE=LVCMOS33 ;

LOCATE COMP "ECP5EVN_LED7" SITE "B17" ;
LOCATE COMP "ECP5EVN_LED6" SITE "A17" ;
LOCATE COMP "ECP5EVN_LED5" SITE "C17" ;
LOCATE COMP "ECP5EVN_LED4" SITE "B18" ;
LOCATE COMP "ECP5EVN_LED3" SITE "A18" ;
LOCATE COMP "ECP5EVN_LED2" SITE "B19" ;
LOCATE COMP "ECP5EVN_LED1" SITE "A12" ;
LOCATE COMP "ECP5EVN_LED0" SITE "A13" ;



LOCATE COMP "ECP5EVN_TX" SITE "J5";
LOCATE COMP "ECP5EVN_RX" SITE "J4";
IOBUF PORT "ECP5EVN_TX" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "ECP5EVN_RX" PULLMODE=UP IO_TYPE=LVCMOS33;

LOCATE COMP "clk_200" SITE "Y19";
IOBUF PORT "clk_200" IO_TYPE=LVDS25;